.reviewCard{
border-color: black;
border: 1px solid black;
border-radius: 3%;
padding: auto;
margin: 25px;
text-align: center;
max-width: 50vh;
height: auto;
background-color: rgb(156, 158, 158);
}
.reviewList{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
margin:auto;
text-align: centwe;
  font-size: inherit;
  font-size: large;
}
.reviewPics{
    max-height: 30vh;
    max-width: 30vh;
   
    border-radius: 2%;
}
.reviewContents{
    width: 40vh;
    height: auto;
}
.comment{
    background-color: rgb(157, 163, 163);
    
}
.soloReviewCard {
    margin:auto;
    display: block;
    margin: auto;
    text-align: center;
}
.reviewBody{
    max-width: 50vh;
    height: auto;
    margin: auto;
}
.reviewPics:hover {
    opacity: 0.75;
}
.singleReview
span {
    display: inline;
}

.comment{
  color:rgb(67, 57, 57);
  width: 500px;
  border: 1px solid black;
  margin: auto;
  
}
.commentBody{
    color:rgb(67, 57, 57);
    width: 500px;
   text-align: left;
    margin: auto;
}
.author {
    color:black
}