.reviewCard{
border-color: black;
border: 1px solid black;
padding: auto;
margin: 50px;
text-align: center;
}

.reviewPics{
    height: auto;
    max-width: 75%;
opacity: 1;
}

.reviewPics:hover {
    opacity: 0.75;
}
.singleReview
span {
    display: inline;
}
