body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Header{
  background-color: aqua;
  text-align: center;
}
.Navbar{
  background-color: aquamarine;
}
.userAvatar{
height: 25vh;
    max-width: 25vh;
    margin: 5vh;
    padding: 5vh;
} 
.userList{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  font-size: inherit;
  font-size: xx-large;
}  
.userCard {
  background-color: rgb(255, 255, 255);
  max-width: 100vh;
  height: auto;
  margin: 1vh;
  padding: 1vh;
border-radius: 50%;}